@import url('https://fonts.googleapis.com/css?family=Amiri|Cairo');

body {
  padding-top: 70px;
  padding-bottom: 70px;
  font-family: 'Cairo', sans-serif !important;
}

p {
  text-align: justify;
}

p, label, #diacritize-it {
  font-size: 24px;
}

#input {
  font-size: 18px;
}

.hr-white {
  border-color: white;
}

.ltr {
  direction: ltr;
}

.mobile-only {
  display: none;
}

/* Smartphone Portrait and Landscape */
@media only screen and (max-width: 768px) {
  .mobile-only {
    display: inline;
  }
}
