absl-py==0.7.1
arramooz-pysqlite==0.1
asn1crypto==0.24.0
astor==0.7.1
backports.weakref==1.0.post1
bleach==1.5.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
CodernityDB==0.4.2
cryptography==2.1.4
docopt==0.6.2
enum34==1.1.6
Flask==1.0.2
Flask-JSGlue==0.3.1
funcsigs==1.0.2
futures==3.1.1
gast==0.2.2
grpcio==1.20.1
gunicorn==19.9.0
h5py==2.9.0
html5lib==0.9999999
idna==2.8
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.1
kaggle==1.5.3
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keyring==10.6.0
keyrings.alt==3.0
libqutrub==1.2.1
lxml==4.3.3
Markdown==3.1
MarkupSafe==1.1.1
mock==2.0.0
mysam-tagmanager==0.1
Naftawayh==0.3
numpy==1.16.3
pbr==5.2.0
protobuf==3.7.1
PyArabic==0.6.5
pycrypto==2.6.1
pygobject==3.32.1
python-dateutil==2.8.0
python-slugify==3.0.2
pyxdg==0.25
PyYAML==5.1
qalsadi==0.3.1
requests==2.21.0
scipy==1.2.1
SecretStorage==2.3.1
six==1.12.0
Tashaphyne==0.3.2
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
text-unidecode==1.2
tqdm==4.31.1
urllib3==1.24.2
Werkzeug==0.15.2
