@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  outline: none !important;
}

html, body {
  height: 100%;
}

body {
	display: flex;
  flex-direction: column;
  padding-top: 100px;
  font-family: 'Roboto', sans-serif !important;
}

p {
  text-align: justify;
}

p, label, #diacritize-it, #tranliterate-it {
  font-size: 24px;
}

#input {
  font-size: 24px;
}

#content {
  flex: 1 0 auto;
}

#footer {
  flex: 0 0 auto;
  background-color: #222222;
  padding: 10px 0px 10px 0px;
  color: #FFFFFF;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
}
